body {
  margin: 50px;
  text-align: center;
  font-family: Arial;
}
.btn-play, .btn-play:active, .btn-play:visited, .btn-play:focus {
  padding: .5rem 1rem;
  background: #009999;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
  border: none;
  letter-spacing: 1rem;
  padding-left: 2rem;
}
.btn-play:active, .btn-play:visited, .btn-play:focus {
  outline: none;
}
.btn-play:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px #333333;
}
p {
  padding: .5rem 1rem;
  letter-spacing: 1rem;
  padding-left: 2rem;
}