body {
  margin: 50px;
  text-align: center;
}
.btn-play, .btn-play:active, .btn-play:visited, .btn-play:focus {
  padding: 20px 40px;
  background: #009999;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  letter-spacing: 40px;
  padding-left: 80px;
}
.btn-play:active, .btn-play:visited, .btn-play:focus {
  outline: none;
}
.btn-play:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px #333333;
}